<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460271978758-ut6q1cb56aa6lhs2ua0qi9odesj0op57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460271978758-ut6q1cb56aa6lhs2ua0qi9odesj0op57</string>
	<key>API_KEY</key>
	<string>AIzaSyAckxEUEIQMPjPo-vt2vZYWBVe19wcueUg</string>
	<key>GCM_SENDER_ID</key>
	<string>460271978758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>st-bernard.caretaker</string>
	<key>PROJECT_ID</key>
	<string>caretaker-bb8ea</string>
	<key>STORAGE_BUCKET</key>
	<string>caretaker-bb8ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460271978758:ios:e20b624d57e53b20123687</string>
	<key>DATABASE_URL</key>
	<string>https://caretaker-bb8ea-default-rtdb.firebaseio.com</string>
</dict>
</plist>